/* -----font import related----- */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&family=Roboto:wght@400;500;700&display=swap");

/* 
    font-family: 'Lilita One', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    
*/

/* -----font import related End----- */

* {
  font-family: "Roboto", sans-serif;
}
body {
  margin-top: 70px;
  position: relative;
}
p {
  margin: 0;
}
.signInVarticalLine {
  cursor: inherit;
}

@media (max-width: 991px) {
  .signInVarticalLine {
    display: none;
    cursor: inherit;
  }
}

/*----------- modified bootstrap classes------- */
.nav-item:hover {
  color: #05435ec0 !important;
}

.navbar-nav .nav-link.active {
  color: #05445e !important;
}

/*----------- modified bootstrap classes End------- */

/* --------------General Classes----------- */
.clr1 {
  color: #05445e !important;
}
.clr2 {
  color: #189ab4 !important;
}
.clr3 {
  color: #75e6da !important;
}
.clr4 {
  color: #d4f1f4 !important;
}
.clrtest {
  color: red;
}
.clr1-bg {
  background-color: #05445e !important;
}
.clr2-bg {
  background-color: #189ab4 !important;
}
.clr3-bg {
  background-color: #75e6da !important;
}
.clr4-bg {
  background-color: #d4f1f4 !important;
}

.fontLilitaOne {
  font-family: "Lilita One", cursive !important;
}

.custom-btn {
  /* font-size: 1.1rem; */
  /* padding: 0.5em 1em; */
  /* border-radius: 0.5em; */
  background-color: #096f9b;
  color: white;
  font-weight: bold;
  /* border: none; */
}
.custom-btn:hover {
  background-color: #0a80b3;
  color: white;
}

label {
  font-size: 1.2rem;
}
input {
  margin-top: 5px;
  margin-bottom: 10px;
}
input[type="date"] {
  padding: 10px;
}

h1 {
  font-family: "Lilita One", cursive;
  color: #05445e;
}
h2 {
  font-family: "Lilita One", cursive;
  color: #05445e;
}

/* --------------------welcome section --------------------- */

.welcomeSection {
}
.ruLogoAndName img {
  width: 30%;
  display: block;
  margin: auto;
}
.ruLogoAndName h2 {
  font-family: "Lilita One", cursive;
  font-size: 2vw;
  text-align: center;
  color: #05445e;
}

.welcomeAndName h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 6.5vw;
  color: #189ab4;
  margin-top: 3vw;
}
.welcomeAndName h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 4vw;
  color: #05445e;
}

/* -----------------home cards --------------------------- */

.homeCards {
  margin-top: 50px;
  padding: 0px 20px;
}
.homeCard {
  background-color: #189ab4;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0 0 0;
  margin: 2px;
}
.homeCard h4 {
  font-size: 1.3rem;
}
.homeCard p {
  font-size: 1.2rem;
}

/*-------------------------intro and noticeboard------------------ */

.introAndNotice {
  margin-top: 50px;
  background-color: #d4f1f4;
  padding: 20px 20px;
  border-radius: 10px;
  height: fit-content;
}
.introAndNotice .clubInto {
}
.introAndNotice .clubInto p {
  font-family: "Lilita One", cursive;
  text-align: justify;
}
.introAndNotice .clubInto ul li {
  font-family: "Lilita One", cursive;
  text-align: justify;
}
.introAndNotice .noticeboard {
  height: 400px;
  overflow-y: auto;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 20px;
  padding: 1em;
}
.introAndNotice .noticeboard:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.notice {
  background-color: #189ab4;
  color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  font-weight: bold;
  /* text-align: center; */
  margin: 10px 0px;
  /* cursor: pointer; */
  z-index: 2;
}
/* .notice:hover {
  background-color: #3bb1c9;
} */

.noticeDetails {
  margin: -13px 0px 0px 0px;
  padding: 1em;
  border: 4px solid #189ab4;
  z-index: 1;
  font-size: 1.2rem;
  border-radius: 0em 0em 1em 1em;
}
.noticeDetails p {
  font-weight: 600;
}
.noticeDetails span {
  font-weight: bold;
  font-size: 1.4rem;
  color: #189ab4;
  margin-right: 10px;
}
.noticeDetails a {
  text-decoration: none;
  color: #189ab4;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #d4f1f4;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5em;
}
.noticeDetails a:hover {
  background-color: #c2f1f7;
}

/* --------------------------big cards-------------------- */

.bigCards {
  margin-top: 50px;
}

.bigCardsRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bigCard {
  margin-bottom: 20px;
  display: inline-block;
  width: 32%;
  padding: 100px 0px;
  background-color: #d4f1f4;
  color: #05445e;
  font-family: "Lilita One", cursive;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  min-width: 300px;
}
.bigCard:hover {
  background-color: #c2f1f7;
  color: #096f9b;
}

/* ----------------Footer--------------------- */
.footer {
  /* margin-top: 50px; */
  padding: 20px;
  background-color: #d4f1f4;
  border-radius: 10px;
}

.footer .footerSection {
  margin-bottom: 20px;
}

.footer .footerSection h4 {
  color: #05445e;
  font-weight: bold;
  font-size: 1.1rem;
}
.footer .footerSection p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.6rem;
}
.footer .footerSection div {
  margin-left: 10px;
}
.footer .footerSection div .footerLinks {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 0.6rem;
}
.footer .footerSection div .footerLinks:hover {
  color: #189ab4;
}

/* ---------------all rights reserved------------------ */

.footerAllRights {
  text-align: center;
  background-color: #d4f1f4;
  margin-top: 5px;
  color: #05445e;
  font-weight: bold;
  font-size: 0.6rem;
}

/* -------------signUp form------------- */
.signInUpForm h1 {
  margin-top: 100px;
  text-align: center;
}
.signInUpForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signInUpForm input {
  width: 200px;
  text-align: center;
  border-radius: 2.5em;
  background-color: #d4f1f4;
  border: none;
  padding: 0.7em 0em;
  margin-top: -10px;
}

.signInUpForm button {
  margin-top: 30px;
  border-radius: 1em;
  padding: 0.4em 1.5em;
}
.signInUpForm .errdiv {
  width: 200px;
  font-size: 0.7rem;
}

/* ------------------contest page-------------------- */

.contestHistoryWrapper {
  /* padding: 0px 30px; */
}

.contestHistoryWrapper .contestHistoryReqBtn {
  float: right;
}

.contestCard {
  background-color: #d4f1f4;
  padding: 30px 10px;
  margin-top: 30px;
  border-radius: 20px;
}
.contestCard .contestCardPicDiv {
  /* border: 5px solid black; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  /* margin-bottom: 30px; */
}

@media (max-width: 991px) {
  .contestCard .contestCardPicDiv {
    /* border: 5px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
  .img {
    width: 100%;
    height: 100%;
  }
}
.img {
  overflow: hidden;
}
.img img {
  border: 5px solid #0a80b3;
  background-color: #d4f1f4;

  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);

  /* padding: 5px; */
}
.img:hover img {
  transform: scale(1.1);
}

.imgRight {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
.imgLeft {
  margin-top: -10px;
  /* margin-right: 10px; */
  /* margin-bottom: 50px; */
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divider img {
  width: 80%;
}

.contestCard .contestCardDesDiv {
  position: relative;
}
.contestCard .contestCardDesDiv h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.contestCard .contestCardDesDiv ul {
  font-weight: bold;
  font-size: 1.1rem;
}
.contestCard .contestCardDesDiv ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  background-color: inherit;
  color: #05445e;
}
.contestCard .contestCardDesDiv ul li a:hover {
  text-decoration: none;
  padding: 0;
  background-color: inherit;
  color: #189ab4;
}
.contestCard .contestCardDesDiv p {
  margin-bottom: 20px;
  color: #05445e;
}
.contestCard .contestCardDesDiv p span {
  font-weight: bold;
  font-size: 1.1rem;
}
.contestCard .contestCardDesDiv a {
  margin-top: 10px;
  background-color: #05445e;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  text-decoration: none;
  margin-bottom: 10px;
}

.contestCard .contestCardDesDiv a:hover {
  background-color: #096f9b;
}

.contestCard .contestCardDesDiv .custom-btn {
  margin-top: 0.4em !important;
  margin-right: 0.2em !important;
}

@media (max-width: 991px) {
  .divider {
    display: none;
  }
}

/* ---------------------Profile page ------------------------------ */

.profileWrap {
  padding: 0 20px;
  margin-bottom: 100px;
}

.profileWrap .picAndBioSection {
  margin-top: 100px;
  margin-bottom: 20px;
}
.profileWrap .picAndBioSection .picAndNameSec {
  /* padding-left: 3%; */
  padding: 0 3%;
  margin-bottom: 30px;
}
.profileWrap .picAndBioSection .picAndNameSec .profilePicDiv {
}
.profileWrap .picAndBioSection .picAndNameSec .profilePicDiv img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: 7px solid #189ab4;
  border-radius: 1em;
}
.profileWrap .picAndBioSection .picAndNameSec h3 {
  color: #05445e;
}
.profileWrap .picAndBioSection .picAndNameSec h5 {
  color: #05445e;
  font-weight: bold;
}
.profileWrap .picAndBioSection .picAndNameSec span {
}
.profileWrap .picAndBioSection .picAndNameSec .ProPicUpdateButton {
  margin: 2px 0 5px 0;
}
.profileWrap .picAndBioSection .picAndNameSec button {
}

.profileWrap .picAndBioSection .bioAndContactSec {
}
.profileWrap .picAndBioSection .bioAndContactSec h4 {
  color: #189ab4;
  font-size: 1.5rem;
}
.profileWrap .picAndBioSection .bioAndContactSec p {
  max-width: 700px;
  margin-bottom: 20px;
  text-align: justify;
}
.profileWrap .picAndBioSection .bioAndContactSec p a {
  text-decoration: none;
  color: #05445e;
  font-weight: bold;
}
.profileWrap .picAndBioSection .bioAndContactSec p a:hover {
  color: #096f9b;
}

.profileWrap .picAndBioSection .bioAndContactSec span {
  font-weight: bold;
  color: #189ab4;
}
.profileWrap .picAndBioSection .bioAndContactSec .cfCards {
  padding: 0em 1em 1em 1em;
  border: 7px solid #189ab4;
  border-radius: 1em;
  max-width: 600px;
}
.profileWrap .picAndBioSection .bioAndContactSec .cfCards .cfCardsHeadingWrap {
  display: flex;
  justify-content: center;
}
.profileWrap
  .picAndBioSection
  .bioAndContactSec
  .cfCards
  .cfCardsHeadingWrap
  h3 {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background-color: #189ab4;
  display: inline-block;
  width: 200px;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 0 0 0.5em 0.5em;
  padding: 0 0 0.2em 0;
}
.profileWrap .picAndBioSection .bioAndContactSec .cfCard {
  background-color: #0a80b3;
  display: inline-block;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  border-radius: 0.4em;
  padding: 0.5em 1em 0.5em 0;
  margin-right: 10px;
  margin-bottom: 20px;
}
.profileWrap .picAndBioSection .bioAndContactSec .cfCard span {
  color: #05445e;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.4em;
  margin: 0px 4px;
}

.profileWrap .linksSection {
  margin-bottom: 40px;
}
.profileWrap .linksSection h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.profileWrap .linksSection img {
  /* width: 200px; */
  height: 35px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.profileWrap .profileContests {
}
.profileWrap .profileContests h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.profileWrap .profileContests .profileContestColumnName {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1em 2em 1em 2em;
  text-align: center;
}
.profileWrap .profileContests .profileContest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #d4f1f4;
  padding: 1em 2em 1em 2em;
  text-align: center;
  border-radius: 1em;
  margin-bottom: 1em;
  color: #096f9b;
  font-size: 1.1rem;
  cursor: pointer;
}
.profileWrap .profileContests .profileContest:hover {
  background-color: #c2f1f7;
}

.profileWrap .profileContests .contestCard {
  /* padding: 1em 2em 1em 2em; */
  margin: -10px 0 10px 0;
}

.profileWrap .profileContests .profileContest .contestHeading {
  font-size: 1.2rem;
  font-weight: bold;
}

/* --------------------programmers list-------------------------- */

.programmersListDiv {
  padding: 0px 30px;
  text-align: center;
  margin-top: 100px;
}
.programmersListDiv th {
  color: #05445e;
  font-size: 1.2rem;
  cursor: pointer;
}
.programmersListDiv td {
  font-size: 1.1rem;
  font-weight: 500;
  color: #096f9b;
}

.programmersListDiv a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #096f9b;
  background-color: #d4f1f4;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  display: block;
}
.programmersListDiv a:hover {
  background-color: #c2f1f7;
}

/* -----------------about page----------- */

.aboutWrap {
  color: #189ab4;
  padding: 0px 20px;
}
.aboutWrap h1 {
  text-align: center;
}
.aboutWrap h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  display: inline-block;
}
.aboutWrap h4 {
  margin: 0.5em 0em;
}
.aboutWrap p {
  text-align: justify;
  padding: 0px 0px 0px 0.5em;
  font-size: 1.2rem;
}
.aboutWrap ul {
  padding: 0px 60px;
  font-size: 1.2rem;
}
.aboutWrap span {
  color: #05445e;
  font-weight: bold;
}
.aboutWrap h3 {
  text-align: center;
  margin-top: 2em;
  font-size: 1rem;
}

.aboutWrap button {
  margin-left: 10px;
  padding: 0.2em 1em;
}
.aboutWrap a {
  text-decoration: none;
  font-weight: bold;
  color: #189ab4;
}
.aboutWrap a:hover {
  color: #05445e;
}

@media (max-width: 991px) {
  .aboutWrap p {
    font-size: 0.75rem;
  }
  .aboutWrap ul {
    padding: 0px 60px;
    font-size: 0.75rem;
  }
  .aboutWrap h2 {
    font-size: 1.2rem;
  }
}

/* ------------------------photo gallery------------------------------- */

.galleryContainer {
  width: 95%;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}
.galleryContainer button {
  position: sticky;
  top: 70px;
  z-index: 200;
  border: 2px solid #fff;
}

.galleryContainer .galleryFrom {
  width: 30vw;
  border: 5px solid #05445e;
  padding: 30px;
  position: fixed;
  border-radius: 30px;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.galleryContainer .galleryFrom:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.galleryContainer .galleryFrom span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color: #05445e;
  user-select: none;
}

.galleryContainer .media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 20px auto;
  cursor: pointer;
}
.galleryContainer .media-container .media {
  height: 220px;
  width: 100%;
  border: 5px solid #05445e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
}
.galleryContainer .media-container .media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
  z-index: 10;
}
.galleryContainer .media-container .media div {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  color: #05445e;
  font-weight: bold;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  transition: all 0.3 linear;
  overflow-y: auto;
}
.galleryContainer .media-container .media h5 {
  font-weight: bold;
  font-family: "Lilita One", cursive;
}
.galleryContainer .media-container .media:hover img {
  transform: scale(1.1);
}

.popup-media {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.popup-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  border: 3px solid #05445e;
}

.popup-media span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
